# Willingness Matrix

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_will = pd.read_json("willingness_mat.json")

In [3]:
df_will

,Alice,Bob
d1,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d2,"[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ..."
d3,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d4,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d5,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d6,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d7,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d8,"[{'shift': 0, 'willingness': 1.0}, {'shift': 1...","[{'shift': 0, 'willingness': 1.0}, {'shift': 1..."
d9,"[{'shift': 0, 'willingness': 1.0}, {'shift': 1...","[{'shift': 0, 'willingness': 1.0}, {'shift': 1..."
d10,"[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ..."
d11,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d12,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d13,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d14,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d15,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d16,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d17,"[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ..."
d18,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d19,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d20,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d21,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."
d22,"[{'shift': 0, 'willingness': 1.0}, {'shift': 1...","[{'shift': 0, 'willingness': 1.0}, {'shift': 1..."
d23,"[{'shift': 0, 'willingness': 1.0}, {'shift': 1...","[{'shift': 0, 'willingness': 1.0}, {'shift': 1..."
d24,"[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ..."
d25,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d26,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d27,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d28,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1..."

In [4]:
rows = []

for day, row in df_will.iterrows():
    for employee, shifts in row.items():
        for s in shifts:
            rows.append({
                "employee": employee,
                "day": day,
                "shift": s["shift"],
                "willingness": s["willingness"]
            })


df_flat = pd.DataFrame(rows)

In [5]:
df_flat = df_flat.sort_values(["employee", "day", "shift"]).reset_index(drop=True)

In [6]:
df_flat["shift"] = df_flat["shift"].map({0: "morning", 1: "evening"})

In [7]:
df_flat

    employee  day    shift  willingness
0      Alice   d1  morning          0.0
1      Alice   d1  evening          0.0
2      Alice  d10  morning         -0.5
3      Alice  d10  evening         -0.5
4      Alice  d11  morning          0.5
..       ...  ...      ...          ...
107      Bob   d7  evening          0.0
108      Bob   d8  morning          1.0
109      Bob   d8  evening          0.0
110      Bob   d9  morning          1.0
111      Bob   d9  evening          0.0

[112 rows x 4 columns]

In [8]:
df_flat["day"] = df_flat["day"].str.extract(r"(\d+)").astype(int)
df_sorted = df_flat.sort_values(["employee", "day", "shift"]).reset_index(drop=True)

In [9]:
df_sorted

    employee  day    shift  willingness
0      Alice    1  evening          0.0
1      Alice    1  morning          0.0
2      Alice    2  evening         -0.5
3      Alice    2  morning         -0.5
4      Alice    3  evening          0.5
..       ...  ...      ...          ...
107      Bob   26  morning          0.5
108      Bob   27  evening          0.5
109      Bob   27  morning          0.5
110      Bob   28  evening          0.0
111      Bob   28  morning          0.0

[112 rows x 4 columns]

In [10]:
df_sorted[df_sorted["employee"] == "Alice"]

   employee  day    shift  willingness
0     Alice    1  evening          0.0
1     Alice    1  morning          0.0
2     Alice    2  evening         -0.5
3     Alice    2  morning         -0.5
4     Alice    3  evening          0.5
5     Alice    3  morning          0.5
6     Alice    4  evening          0.5
7     Alice    4  morning          0.5
8     Alice    5  evening          0.5
9     Alice    5  morning          0.5
10    Alice    6  evening          0.0
11    Alice    6  morning          0.0
12    Alice    7  evening          0.0
13    Alice    7  morning          0.0
14    Alice    8  evening          0.0
15    Alice    8  morning          1.0
16    Alice    9  evening          0.0
17    Alice    9  morning          1.0
18    Alice   10  evening         -0.5
19    Alice   10  morning         -0.5
20    Alice   11  evening          0.5
21    Alice   11  morning          0.5
22    Alice   12  evening          0.5
23    Alice   12  morning          0.5
24    Alice   13  evening          0.5
25    Alice   13  morning          0.5
26    Alice   14  evening          0.0
27    Alice   14  morning          0.0
28    Alice   15  evening          0.0
29    Alice   15  morning          0.0
30    Alice   16  evening          0.0
31    Alice   16  morning          0.0
32    Alice   17  evening         -0.5
33    Alice   17  morning         -0.5
34    Alice   18  evening          0.5
35    Alice   18  morning          0.5
36    Alice   19  evening          0.5
37    Alice   19  morning          0.5
38    Alice   20  evening          0.5
39    Alice   20  morning          0.5
40    Alice   21  evening          0.0
41    Alice   21  morning          0.0
42    Alice   22  evening          0.0
43    Alice   22  morning          1.0
44    Alice   23  evening          0.0
45    Alice   23  morning          1.0
46    Alice   24  evening         -0.5
47    Alice   24  morning         -0.5
48    Alice   25  evening          0.5
49    Alice   25  morning          0.5
50    Alice   26  evening          0.5
51    Alice   26  morning          0.5
52    Alice   27  evening          0.5
53    Alice   27  morning          0.5
54    Alice   28  evening          0.0
55    Alice   28  morning          0.0

In [11]:
M_LLM_willingness = df_sorted[["employee", "day", "shift", "willingness"]].values.tolist()

In [12]:
M_LLM_willingness

[['Alice', 1, 'evening', 0.0],
 ['Alice', 1, 'morning', 0.0],
 ['Alice', 2, 'evening', -0.5],
 ['Alice', 2, 'morning', -0.5],
 ['Alice', 3, 'evening', 0.5],
 ['Alice', 3, 'morning', 0.5],
 ['Alice', 4, 'evening', 0.5],
 ['Alice', 4, 'morning', 0.5],
 ['Alice', 5, 'evening', 0.5],
 ['Alice', 5, 'morning', 0.5],
 ['Alice', 6, 'evening', 0.0],
 ['Alice', 6, 'morning', 0.0],
 ['Alice', 7, 'evening', 0.0],
 ['Alice', 7, 'morning', 0.0],
 ['Alice', 8, 'evening', 0.0],
 ['Alice', 8, 'morning', 1.0],
 ['Alice', 9, 'evening', 0.0],
 ['Alice', 9, 'morning', 1.0],
 ['Alice', 10, 'evening', -0.5],
 ['Alice', 10, 'morning', -0.5],
 ['Alice', 11, 'evening', 0.5],
 ['Alice', 11, 'morning', 0.5],
 ['Alice', 12, 'evening', 0.5],
 ['Alice', 12, 'morning', 0.5],
 ['Alice', 13, 'evening', 0.5],
 ['Alice', 13, 'morning', 0.5],
 ['Alice', 14, 'evening', 0.0],
 ['Alice', 14, 'morning', 0.0],
 ['Alice', 15, 'evening', 0.0],
 ['Alice', 15, 'morning', 0.0],
 ['Alice', 16, 'evening', 0.0],
 ['Alice', 16, 'morning', 0.0],
 ['Alice', 17, 'evening', -0.5],
 ['Alice', 17, 'morning', -0.5],
 ['Alice', 18, 'evening', 0.5],
 ['Alice', 18, 'morning', 0.5],
 ['Alice', 19, 'evening', 0.5],
 ['Alice', 19, 'morning', 0.5],
 ['Alice', 20, 'evening', 0.5],
 ['Alice', 20, 'morning', 0.5],
 ['Alice', 21, 'evening', 0.0],
 ['Alice', 21, 'morning', 0.0],
 ['Alice', 22, 'evening', 0.0],
 ['Alice', 22, 'morning', 1.0],
 ['Alice', 23, 'evening', 0.0],
 ['Alice', 23, 'morning', 1.0],
 ['Alice', 24, 'evening', -0.5],
 ['Alice', 24, 'morning', -0.5],
 ['Alice', 25, 'evening', 0.5],
 ['Alice', 25, 'morning', 0.5],
 ['Alice', 26, 'evening', 0.5],
 ['Alice', 26, 'morning', 0.5],
 ['Alice', 27, 'evening', 0.5],
 ['Alice', 27, 'morning', 0.5],
 ['Alice', 28, 'evening', 0.0],
 ['Alice', 28, 'morning', 0.0],
 ['Bob', 1, 'evening', 0.0],
 ['Bob', 1, 'morning', 0.0],
 ['Bob', 2, 'evening', -0.5],
 ['Bob', 2, 'morning', -0.5],
 ['Bob', 3, 'evening', 0.5],
 ['Bob', 3, 'morning', 0.5],
 ['Bob', 4, 'evening', 0.5],
 ['Bob', 4, 'morning', 0.5],
 ['Bob', 5, 'evening', 0.5],
 ['Bob', 5, 'morning', 0.5],
 ['Bob', 6, 'evening', 0.0],
 ['Bob', 6, 'morning', 0.0],
 ['Bob', 7, 'evening', 0.0],
 ['Bob', 7, 'morning', 0.0],
 ['Bob', 8, 'evening', 0.0],
 ['Bob', 8, 'morning', 1.0],
 ['Bob', 9, 'evening', 0.0],
 ['Bob', 9, 'morning', 1.0],
 ['Bob', 10, 'evening', -0.5],
 ['Bob', 10, 'morning', -0.5],
 ['Bob', 11, 'evening', 0.5],
 ['Bob', 11, 'morning', 0.5],
 ['Bob', 12, 'evening', 0.5],
 ['Bob', 12, 'morning', 0.5],
 ['Bob', 13, 'evening', 0.5],
 ['Bob', 13, 'morning', 0.5],
 ['Bob', 14, 'evening', 0.0],
 ['Bob', 14, 'morning', 0.0],
 ['Bob', 15, 'evening', 0.0],
 ['Bob', 15, 'morning', 0.0],
 ['Bob', 16, 'evening', 0.0],
 ['Bob', 16, 'morning', 0.0],
 ['Bob', 17, 'evening', -0.5],
 ['Bob', 17, 'morning', -0.5],
 ['Bob', 18, 'evening', 0.5],
 ['Bob', 18, 'morning', 0.5],
 ['Bob', 19, 'evening', 0.5],
 ['Bob', 19, 'morning', 0.5],
 ['Bob', 20, 'evening', 0.5],
 ['Bob', 20, 'morning', 0.5],
 ['Bob', 21, 'evening', 0.0],
 ['Bob', 21, 'morning', 0.0],
 ['Bob', 22, 'evening', 0.0],
 ['Bob', 22, 'morning', 1.0],
 ['Bob', 23, 'evening', 0.0],
 ['Bob', 23, 'morning', 1.0],
 ['Bob', 24, 'evening', -0.5],
 ['Bob', 24, 'morning', -0.5],
 ['Bob', 25, 'evening', 0.5],
 ['Bob', 25, 'morning', 0.5],
 ['Bob', 26, 'evening', 0.5],
 ['Bob', 26, 'morning', 0.5],
 ['Bob', 27, 'evening', 0.5],
 ['Bob', 27, 'morning', 0.5],
 ['Bob', 28, 'evening', 0.0],
 ['Bob', 28, 'morning', 0.0]]

# Willingness 5 Shifts

In [50]:
df_wi_mult = pd.read_json("willingness_mat_new.json")

In [51]:
df_wi_mult.head()

,Alice,Bob,Carol
d1,"[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': 0.0}, {'shift': 1...","[{'shift': 0, 'willingness': -0.9}, {'shift': ..."
d2,"[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ...","[{'shift': 0, 'willingness': -0.5}, {'shift': ..."
d3,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1..."
d4,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': -0.1}, {'shift': ..."
d5,"[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': 0.5}, {'shift': 1...","[{'shift': 0, 'willingness': -0.0}, {'shift': ..."

In [52]:
records = []

for day, rows in df_wi_mult.iterrows():
    for employee, shifts in rows.items():
        for s in shifts:
            records.append({
                "employee": employee,
                "day": day,
                "shift": s["shift"],
                "willingness": s["willingness"]
            })
df_wi_flat = pd.DataFrame(records)

In [53]:
df_wi_flat

    employee  day  shift  willingness
0      Alice   d1      0          0.0
1      Alice   d1      1          0.0
2      Alice   d1      2         -0.5
3      Alice   d1      3          0.9
4      Alice   d1      4          0.4
..       ...  ...    ...          ...
415    Carol  d28      0          0.6
416    Carol  d28      1          0.5
417    Carol  d28      2          0.6
418    Carol  d28      3          0.3
419    Carol  d28      4         -0.5

[420 rows x 4 columns]

In [54]:
df_wi_flat["day"] = df_wi_flat["day"].str.extract(r"(\d+)").astype(int)

In [59]:
df_wi_sorted = df_wi_flat.sort_values(by=["employee", "day", "shift"]).reset_index(drop=True)
df_wi_sorted

    employee  day  shift  willingness
0      Alice    1      0          0.0
1      Alice    1      1          0.0
2      Alice    1      2         -0.5
3      Alice    1      3          0.9
4      Alice    1      4          0.4
..       ...  ...    ...          ...
415    Carol   28      0          0.6
416    Carol   28      1          0.5
417    Carol   28      2          0.6
418    Carol   28      3          0.3
419    Carol   28      4         -0.5

[420 rows x 4 columns]

In [60]:
M_LLM_willingness = df_wi_sorted[["employee", "day", "shift", "willingness"]].values.tolist()

In [61]:
M_LLM_willingness

[['Alice', 1, 0, 0.0],
 ['Alice', 1, 1, 0.0],
 ['Alice', 1, 2, -0.5],
 ['Alice', 1, 3, 0.9],
 ['Alice', 1, 4, 0.4],
 ['Alice', 2, 0, -0.5],
 ['Alice', 2, 1, -0.5],
 ['Alice', 2, 2, -0.1],
 ['Alice', 2, 3, 0.8],
 ['Alice', 2, 4, 0.9],
 ['Alice', 3, 0, 0.5],
 ['Alice', 3, 1, 0.5],
 ['Alice', 3, 2, -0.1],
 ['Alice', 3, 3, 0.5],
 ['Alice', 3, 4, -0.8],
 ['Alice', 4, 0, 0.5],
 ['Alice', 4, 1, 0.5],
 ['Alice', 4, 2, 0.5],
 ['Alice', 4, 3, 0.8],
 ['Alice', 4, 4, 0.4],
 ['Alice', 5, 0, 0.5],
 ['Alice', 5, 1, 0.5],
 ['Alice', 5, 2, -0.30000000000000004],
 ['Alice', 5, 3, 0.4],
 ['Alice', 5, 4, -1.0],
 ['Alice', 6, 0, 0.0],
 ['Alice', 6, 1, 0.0],
 ['Alice', 6, 2, 0.2],
 ['Alice', 6, 3, 0.1],
 ['Alice', 6, 4, 0.0],
 ['Alice', 7, 0, 0.0],
 ['Alice', 7, 1, 0.0],
 ['Alice', 7, 2, -0.8],
 ['Alice', 7, 3, 0.30000000000000004],
 ['Alice', 7, 4, 0.7000000000000001],
 ['Alice', 8, 0, 1.0],
 ['Alice', 8, 1, 0.0],
 ['Alice', 8, 2, 0.7000000000000001],
 ['Alice', 8, 3, -0.5],
 ['Alice', 8, 4, -0.5],
 ['Alice', 9, 0, 1.0],
 ['Alice', 9, 1, 0.0],
 ['Alice', 9, 2, 0.4],
 ['Alice', 9, 3, -0.0],
 ['Alice', 9, 4, -0.30000000000000004],
 ['Alice', 10, 0, -0.5],
 ['Alice', 10, 1, -0.5],
 ['Alice', 10, 2, -0.4],
 ['Alice', 10, 3, -0.8],
 ['Alice', 10, 4, 0.2],
 ['Alice', 11, 0, 0.5],
 ['Alice', 11, 1, 0.5],
 ['Alice', 11, 2, 0.1],
 ['Alice', 11, 3, -0.0],
 ['Alice', 11, 4, -0.8],
 ['Alice', 12, 0, 0.5],
 ['Alice', 12, 1, 0.5],
 ['Alice', 12, 2, 0.30000000000000004],
 ['Alice', 12, 3, -0.1],
 ['Alice', 12, 4, 0.8],
 ['Alice', 13, 0, 0.5],
 ['Alice', 13, 1, 0.5],
 ['Alice', 13, 2, -0.8],
 ['Alice', 13, 3, -0.6000000000000001],
 ['Alice', 13, 4, 0.9],
 ['Alice', 14, 0, 0.0],
 ['Alice', 14, 1, 0.0],
 ['Alice', 14, 2, -0.6000000000000001],
 ['Alice', 14, 3, 0.30000000000000004],
 ['Alice', 14, 4, -0.30000000000000004],
 ['Alice', 15, 0, 0.0],
 ['Alice', 15, 1, 0.0],
 ['Alice', 15, 2, -0.7000000000000001],
 ['Alice', 15, 3, 0.8],
 ['Alice', 15, 4, 0.4],
 ['Alice', 16, 0, 0.0],
 ['Alice', 16, 1, 0.0],
 ['Alice', 16, 2, -0.6000000000000001],
 ['Alice', 16, 3, 0.1],
 ['Alice', 16, 4, 0.7000000000000001],
 ['Alice', 17, 0, -0.5],
 ['Alice', 17, 1, -0.5],
 ['Alice', 17, 2, 0.5],
 ['Alice', 17, 3, 0.30000000000000004],
 ['Alice', 17, 4, -0.2],
 ['Alice', 18, 0, 0.5],
 ['Alice', 18, 1, 0.5],
 ['Alice', 18, 2, 1.0],
 ['Alice', 18, 3, 0.6000000000000001],
 ['Alice', 18, 4, 0.7000000000000001],
 ['Alice', 19, 0, 0.5],
 ['Alice', 19, 1, 0.5],
 ['Alice', 19, 2, -0.1],
 ['Alice', 19, 3, 0.30000000000000004],
 ['Alice', 19, 4, -0.8],
 ['Alice', 20, 0, 0.5],
 ['Alice', 20, 1, 0.5],
 ['Alice', 20, 2, 0.4],
 ['Alice', 20, 3, 0.7000000000000001],
 ['Alice', 20, 4, -0.2],
 ['Alice', 21, 0, 0.0],
 ['Alice', 21, 1, 0.0],
 ['Alice', 21, 2, -0.1],
 ['Alice', 21, 3, 0.8],
 ['Alice', 21, 4, 0.30000000000000004],
 ['Alice', 22, 0, 1.0],
 ['Alice', 22, 1, 0.0],
 ['Alice', 22, 2, 0.9],
 ['Alice', 22, 3, 0.9],
 ['Alice', 22, 4, -0.9],
 ['Alice', 23, 0, 1.0],
 ['Alice', 23, 1, 0.0],
 ['Alice', 23, 2, -0.1],
 ['Alice', 23, 3, 0.8],
 ['Alice', 23, 4, 0.1],
 ['Alice', 24, 0, -0.5],
 ['Alice', 24, 1, -0.5],
 ['Alice', 24, 2, 0.7000000000000001],
 ['Alice', 24, 3, 1.0],
 ['Alice', 24, 4, -0.2],
 ['Alice', 25, 0, 0.5],
 ['Alice', 25, 1, 0.5],
 ['Alice', 25, 2, -0.30000000000000004],
 ['Alice', 25, 3, 0.4],
 ['Alice', 25, 4, -0.0],
 ['Alice', 26, 0, 0.5],
 ['Alice', 26, 1, 0.5],
 ['Alice', 26, 2, -0.9],
 ['Alice', 26, 3, 0.8],
 ['Alice', 26, 4, -0.8],
 ['Alice', 27, 0, 0.5],
 ['Alice', 27, 1, 0.5],
 ['Alice', 27, 2, 0.5],
 ['Alice', 27, 3, -0.6000000000000001],
 ['Alice', 27, 4, -0.30000000000000004],
 ['Alice', 28, 0, 0.0],
 ['Alice', 28, 1, 0.0],
 ['Alice', 28, 2, 0.6000000000000001],
 ['Alice', 28, 3, 0.1],
 ['Alice', 28, 4, 0.6000000000000001],
 ['Bob', 1, 0, 0.0],
 ['Bob', 1, 1, 0.0],
 ['Bob', 1, 2, -0.4],
 ['Bob', 1, 3, -0.0],
 ['Bob', 1, 4, 0.5],
 ['Bob', 2, 0, -0.5],
 ['Bob', 2, 1, -0.5],
 ['Bob', 2, 2, 0.5],
 ['Bob', 2, 3, -1.0],
 ['Bob', 2, 4, -0.8],
 ['Bob', 3, 0, 0.5],
 ['Bob', 3, 1, 0.5],
 ['Bob', 3, 2, -0.9],
 ['Bob', 3, 3, -0.5],
 ['Bob', 3, 4, -0.9],
 ['Bob', 4, 0, 0.5],
 ['Bob', 4, 1, 0.5],
 ['Bob', 4, 2, -0.6000000000000001],
 ['Bob', 4, 3, -0.4],
 ['Bob', 4, 4, 0.2],
 ['Bob', 5, 0, 0.5],
 ['Bob', 5, 1, 0.5],
 ['Bob', 5, 2, 0.2],
 ['Bob', 5, 3, -0.9],
 ['Bob', 5, 4, 0.6000000000000001],
 ['Bob', 6, 0, 0.0],
 ['Bob', 6, 1, 0.0],
 ['Bob', 6, 2, 0.5],
 ['Bob', 6, 3, 0.5],
 ['Bob', 6, 4, 0.7000000000000001],
 ['Bob', 7, 0, 0.0],
 ['Bob', 7, 1, 0.0],
 ['Bob', 7, 2, -0.7000000000000001],
 ['Bob', 7, 3, 0.6000000000000001],
 ['Bob', 7, 4, -0.4],
 ['Bob', 8, 0, 1.0],
 ['Bob', 8, 1, 0.0],
 ['Bob', 8, 2, -0.30000000000000004],
 ['Bob', 8, 3, -1.0],
 ['Bob', 8, 4, 0.30000000000000004],
 ['Bob', 9, 0, 1.0],
 ['Bob', 9, 1, 0.0],
 ['Bob', 9, 2, -0.1],
 ['Bob', 9, 3, -0.6000000000000001],
 ['Bob', 9, 4, -0.7000000000000001],
 ['Bob', 10, 0, -0.5],
 ['Bob', 10, 1, -0.5],
 ['Bob', 10, 2, 0.30000000000000004],
 ['Bob', 10, 3, 0.5],
 ['Bob', 10, 4, 0.30000000000000004],
 ['Bob', 11, 0, 0.5],
 ['Bob', 11, 1, 0.5],
 ['Bob', 11, 2, -0.7000000000000001],
 ['Bob', 11, 3, 0.4],
 ['Bob', 11, 4, 0.0],
 ['Bob', 12, 0, 0.5],
 ['Bob', 12, 1, 0.5],
 ['Bob', 12, 2, -0.9],
 ['Bob', 12, 3, 0.6000000000000001],
 ['Bob', 12, 4, -0.1],
 ['Bob', 13, 0, 0.5],
 ['Bob', 13, 1, 0.5],
 ['Bob', 13, 2, 0.9],
 ['Bob', 13, 3, -0.30000000000000004],
 ['Bob', 13, 4, 0.30000000000000004],
 ['Bob', 14, 0, 0.0],
 ['Bob', 14, 1, 0.0],
 ['Bob', 14, 2, -0.6000000000000001],
 ['Bob', 14, 3, -1.0],
 ['Bob', 14, 4, -0.1],
 ['Bob', 15, 0, 0.0],
 ['Bob', 15, 1, 0.0],
 ['Bob', 15, 2, -0.9],
 ['Bob', 15, 3, -0.6000000000000001],
 ['Bob', 15, 4, 0.4],
 ['Bob', 16, 0, 0.0],
 ['Bob', 16, 1, 0.0],
 ['Bob', 16, 2, -0.4],
 ['Bob', 16, 3, 0.8],
 ['Bob', 16, 4, 0.1],
 ['Bob', 17, 0, -0.5],
 ['Bob', 17, 1, -0.5],
 ['Bob', 17, 2, 0.2],
 ['Bob', 17, 3, -0.30000000000000004],
 ['Bob', 17, 4, -0.4],
 ['Bob', 18, 0, 0.5],
 ['Bob', 18, 1, 0.5],
 ['Bob', 18, 2, 0.30000000000000004],
 ['Bob', 18, 3, -0.30000000000000004],
 ['Bob', 18, 4, -0.1],
 ['Bob', 19, 0, 0.5],
 ['Bob', 19, 1, 0.5],
 ['Bob', 19, 2, 1.0],
 ['Bob', 19, 3, -0.8],
 ['Bob', 19, 4, -0.2],
 ['Bob', 20, 0, 0.5],
 ['Bob', 20, 1, 0.5],
 ['Bob', 20, 2, -0.1],
 ['Bob', 20, 3, -0.2],
 ['Bob', 20, 4, -0.7000000000000001],
 ['Bob', 21, 0, 0.0],
 ['Bob', 21, 1, 0.0],
 ['Bob', 21, 2, -0.9],
 ['Bob', 21, 3, 0.5],
 ['Bob', 21, 4, 0.2],
 ['Bob', 22, 0, 1.0],
 ['Bob', 22, 1, 0.0],
 ['Bob', 22, 2, -0.7000000000000001],
 ['Bob', 22, 3, -0.30000000000000004],
 ['Bob', 22, 4, -0.6000000000000001],
 ['Bob', 23, 0, 1.0],
 ['Bob', 23, 1, 0.0],
 ['Bob', 23, 2, -0.9],
 ['Bob', 23, 3, 0.5],
 ['Bob', 23, 4, -0.2],
 ['Bob', 24, 0, -0.5],
 ['Bob', 24, 1, -0.5],
 ['Bob', 24, 2, -0.8],
 ['Bob', 24, 3, 0.5],
 ['Bob', 24, 4, 0.9],
 ['Bob', 25, 0, 0.5],
 ['Bob', 25, 1, 0.5],
 ['Bob', 25, 2, -0.1],
 ['Bob', 25, 3, -0.6000000000000001],
 ['Bob', 25, 4, -0.2],
 ['Bob', 26, 0, 0.5],
 ['Bob', 26, 1, 0.5],
 ['Bob', 26, 2, -0.30000000000000004],
 ['Bob', 26, 3, -0.4],
 ['Bob', 26, 4, -0.30000000000000004],
 ['Bob', 27, 0, 0.5],
 ['Bob', 27, 1, 0.5],
 ['Bob', 27, 2, -0.30000000000000004],
 ['Bob', 27, 3, -0.8],
 ['Bob', 27, 4, -0.2],
 ['Bob', 28, 0, 0.0],
 ['Bob', 28, 1, 0.0],
 ['Bob', 28, 2, -0.1],
 ['Bob', 28, 3, 0.9],
 ['Bob', 28, 4, 1.0],
 ['Carol', 1, 0, -0.9],
 ['Carol', 1, 1, -0.1],
 ['Carol', 1, 2, 0.1],
 ['Carol', 1, 3, -0.0],
 ['Carol', 1, 4, 0.7000000000000001],
 ['Carol', 2, 0, -0.5],
 ['Carol', 2, 1, 0.6000000000000001],
 ['Carol', 2, 2, 0.30000000000000004],
 ['Carol', 2, 3, 0.7000000000000001],
 ['Carol', 2, 4, -0.1],
 ['Carol', 3, 0, 0.5],
 ['Carol', 3, 1, 0.30000000000000004],
 ['Carol', 3, 2, 0.6000000000000001],
 ['Carol', 3, 3, -0.6000000000000001],
 ['Carol', 3, 4, -0.7000000000000001],
 ['Carol', 4, 0, -0.1],
 ['Carol', 4, 1, 0.8],
 ['Carol', 4, 2, 0.2],
 ['Carol', 4, 3, 0.30000000000000004],
 ['Carol', 4, 4, -0.1],
 ['Carol', 5, 0, -0.0],
 ['Carol', 5, 1, 1.0],
 ['Carol', 5, 2, 0.30000000000000004],
 ['Carol', 5, 3, -0.8],
 ['Carol', 5, 4, 0.8],
 ['Carol', 6, 0, 0.4],
 ['Carol', 6, 1, -0.6000000000000001],
 ['Carol', 6, 2, -0.7000000000000001],
 ['Carol', 6, 3, 0.6000000000000001],
 ['Carol', 6, 4, 0.5],
 ['Carol', 7, 0, 0.9],
 ['Carol', 7, 1, 0.1],
 ['Carol', 7, 2, 0.0],
 ['Carol', 7, 3, 0.2],
 ['Carol', 7, 4, -0.0],
 ['Carol', 8, 0, -0.9],
 ['Carol', 8, 1, -0.1],
 ['Carol', 8, 2, 0.1],
 ['Carol', 8, 3, 1.0],
 ['Carol', 8, 4, 0.0],
 ['Carol', 9, 0, -0.5],
 ['Carol', 9, 1, -0.7000000000000001],
 ['Carol', 9, 2, 0.4],
 ['Carol', 9, 3, -0.9],
 ['Carol', 9, 4, 1.0],
 ['Carol', 10, 0, 0.2],
 ['Carol', 10, 1, -0.30000000000000004],
 ['Carol', 10, 2, 0.8],
 ['Carol', 10, 3, 0.2],
 ['Carol', 10, 4, 0.2],
 ['Carol', 11, 0, 0.1],
 ['Carol', 11, 1, -0.30000000000000004],
 ['Carol', 11, 2, -0.5],
 ['Carol', 11, 3, 0.7000000000000001],
 ['Carol', 11, 4, 0.1],
 ['Carol', 12, 0, -0.6000000000000001],
 ['Carol', 12, 1, -0.30000000000000004],
 ['Carol', 12, 2, 0.7000000000000001],
 ['Carol', 12, 3, 0.2],
 ['Carol', 12, 4, 0.4],
 ['Carol', 13, 0, 0.7000000000000001],
 ['Carol', 13, 1, -0.1],
 ['Carol', 13, 2, -0.7000000000000001],
 ['Carol', 13, 3, 0.6000000000000001],
 ['Carol', 13, 4, -0.30000000000000004],
 ['Carol', 14, 0, 0.9],
 ['Carol', 14, 1, -0.7000000000000001],
 ['Carol', 14, 2, 0.5],
 ['Carol', 14, 3, 0.4],
 ['Carol', 14, 4, -0.30000000000000004],
 ['Carol', 15, 0, -0.8],
 ['Carol', 15, 1, 0.30000000000000004],
 ['Carol', 15, 2, -0.30000000000000004],
 ['Carol', 15, 3, -0.2],
 ['Carol', 15, 4, 0.7000000000000001],
 ['Carol', 16, 0, 0.6000000000000001],
 ['Carol', 16, 1, -0.0],
 ['Carol', 16, 2, 0.6000000000000001],
 ['Carol', 16, 3, -0.30000000000000004],
 ['Carol', 16, 4, -0.30000000000000004],
 ['Carol', 17, 0, 0.5],
 ['Carol', 17, 1, -0.6000000000000001],
 ['Carol', 17, 2, 0.1],
 ['Carol', 17, 3, -0.1],
 ['Carol', 17, 4, 0.2],
 ['Carol', 18, 0, -0.5],
 ['Carol', 18, 1, 0.1],
 ['Carol', 18, 2, -0.4],
 ['Carol', 18, 3, 0.0],
 ['Carol', 18, 4, 0.0],
 ['Carol', 19, 0, 0.2],
 ['Carol', 19, 1, -0.5],
 ['Carol', 19, 2, 0.30000000000000004],
 ['Carol', 19, 3, -0.7000000000000001],
 ['Carol', 19, 4, -0.9],
 ['Carol', 20, 0, -0.0],
 ['Carol', 20, 1, -0.30000000000000004],
 ['Carol', 20, 2, -0.2],
 ['Carol', 20, 3, 0.6000000000000001],
 ['Carol', 20, 4, -1.0],
 ['Carol', 21, 0, 0.7000000000000001],
 ['Carol', 21, 1, -0.9],
 ['Carol', 21, 2, 0.7000000000000001],
 ['Carol', 21, 3, -0.4],
 ['Carol', 21, 4, -0.7000000000000001],
 ['Carol', 22, 0, 0.1],
 ['Carol', 22, 1, -1.0],
 ['Carol', 22, 2, -0.30000000000000004],
 ['Carol', 22, 3, -0.2],
 ['Carol', 22, 4, -1.0],
 ['Carol', 23, 0, 0.30000000000000004],
 ['Carol', 23, 1, 1.0],
 ['Carol', 23, 2, 0.6000000000000001],
 ['Carol', 23, 3, 0.30000000000000004],
 ['Carol', 23, 4, -0.7000000000000001],
 ['Carol', 24, 0, 0.9],
 ['Carol', 24, 1, 0.1],
 ['Carol', 24, 2, 0.7000000000000001],
 ['Carol', 24, 3, 0.7000000000000001],
 ['Carol', 24, 4, 0.30000000000000004],
 ['Carol', 25, 0, 0.4],
 ['Carol', 25, 1, -1.0],
 ['Carol', 25, 2, 0.6000000000000001],
 ['Carol', 25, 3, -0.2],
 ['Carol', 25, 4, 0.1],
 ['Carol', 26, 0, -0.0],
 ['Carol', 26, 1, -0.9],
 ['Carol', 26, 2, -0.5],
 ['Carol', 26, 3, -0.30000000000000004],
 ['Carol', 26, 4, 0.5],
 ['Carol', 27, 0, -0.5],
 ['Carol', 27, 1, 0.7000000000000001],
 ['Carol', 27, 2, -0.6000000000000001],
 ['Carol', 27, 3, -0.8],
 ['Carol', 27, 4, -0.5],
 ['Carol', 28, 0, 0.6000000000000001],
 ['Carol', 28, 1, 0.5],
 ['Carol', 28, 2, 0.6000000000000001],
 ['Carol', 28, 3, 0.30000000000000004],
 ['Carol', 28, 4, -0.5]]

# Availability Matrix

In [62]:
df_av = pd.read_json("availability_mat_new.json")

In [63]:
df_av

,Alice,Bob,Carol
availability_calendar,"{'2025-11-01': {'shift_0': 'X', 'shift_1': 'O'...","{'2025-11-01': {'shift_0': 'X', 'shift_1': 'O'...","{'2025-11-01': {'shift_0': 'O', 'shift_1': 'O'..."
content,Alice prefers working morning shifts on weekda...,Bob prefers even-numbered dates and cannot wor...,Carol prefers evening shifts but can fill in m...

In [64]:
df_av.drop("content", inplace=True)

In [65]:
df_av

,Alice,Bob,Carol
availability_calendar,"{'2025-11-01': {'shift_0': 'X', 'shift_1': 'O'...","{'2025-11-01': {'shift_0': 'X', 'shift_1': 'O'...","{'2025-11-01': {'shift_0': 'O', 'shift_1': 'O'..."

In [67]:
records = []

for employee in df_av.columns:
    emp_data = df_av.iloc[0][employee]
    for date, shifts in emp_data.items():
        records.append({
            "employee": employee,
            "date": date,
            "shifts": shifts
        })

df_flat_av = pd.DataFrame(records)

In [68]:
df_flat_av

   employee        date                                             shifts
0     Alice  2025-11-01  {'shift_0': 'X', 'shift_1': 'O', 'shift_2': 'O...
1     Alice  2025-11-02  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
2     Alice  2025-11-03  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
3     Alice  2025-11-04  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
4     Alice  2025-11-05  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
5     Alice  2025-11-06  {'shift_0': 'X', 'shift_1': 'O', 'shift_2': 'X...
6     Alice  2025-11-07  {'shift_0': 'X', 'shift_1': 'O', 'shift_2': 'X...
7       Bob  2025-11-01  {'shift_0': 'X', 'shift_1': 'O', 'shift_2': 'O...
8       Bob  2025-11-02  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
9       Bob  2025-11-03  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
10      Bob  2025-11-04  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
11      Bob  2025-11-05  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
12      Bob  2025-11-06  {'shift_0': 'O', 'shift_1': 'X', 'shift_2': 'X...
13      Bob  2025-11-07  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
14    Carol  2025-11-01  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
15    Carol  2025-11-02  {'shift_0': 'X', 'shift_1': 'X', 'shift_2': 'O...
16    Carol  2025-11-03  {'shift_0': 'O', 'shift_1': 'X', 'shift_2': 'X...
17    Carol  2025-11-04  {'shift_0': 'X', 'shift_1': 'O', 'shift_2': 'X...
18    Carol  2025-11-05  {'shift_0': 'O', 'shift_1': 'X', 'shift_2': 'O...
19    Carol  2025-11-06  {'shift_0': 'O', 'shift_1': 'O', 'shift_2': 'X...
20    Carol  2025-11-07  {'shift_0': 'O', 'shift_1': 'X', 'shift_2': 'X...

In [86]:
print(type(df_flat_av["shifts"].iloc[0]))

<class 'dict'>

In [87]:
temp_record = []

for _, row in df_flat_av.iterrows():
    for shift_name, availability in row["shifts"].items():
        temp_record.append({
            "employee": row["employee"],
            "date": row["date"],
            "shift": shift_name,
            "availability": availability
        })

df_flat_av2 = pd.DataFrame(temp_record)

In [88]:
df_flat_av2

    employee        date    shift availability
0      Alice  2025-11-01  shift_0            X
1      Alice  2025-11-01  shift_1            O
2      Alice  2025-11-01  shift_2            O
3      Alice  2025-11-01  shift_3            O
4      Alice  2025-11-01  shift_4            O
..       ...         ...      ...          ...
100    Carol  2025-11-07  shift_0            O
101    Carol  2025-11-07  shift_1            X
102    Carol  2025-11-07  shift_2            X
103    Carol  2025-11-07  shift_3            X
104    Carol  2025-11-07  shift_4            O

[105 rows x 4 columns]

In [89]:
df_flat_av2["availability"] = np.where(
    df_flat_av2["availability"] == "O",
    1,
    0
)

In [90]:
df_flat_av2

    employee        date    shift  availability
0      Alice  2025-11-01  shift_0             0
1      Alice  2025-11-01  shift_1             1
2      Alice  2025-11-01  shift_2             1
3      Alice  2025-11-01  shift_3             1
4      Alice  2025-11-01  shift_4             1
..       ...         ...      ...           ...
100    Carol  2025-11-07  shift_0             1
101    Carol  2025-11-07  shift_1             0
102    Carol  2025-11-07  shift_2             0
103    Carol  2025-11-07  shift_3             0
104    Carol  2025-11-07  shift_4             1

[105 rows x 4 columns]

In [99]:
M_A = df_flat_av2[["employee", "date", "shift", "availability"]].values.tolist()

In [100]:
M_A

[['Alice', '2025-11-01', 'shift_0', 0],
 ['Alice', '2025-11-01', 'shift_1', 1],
 ['Alice', '2025-11-01', 'shift_2', 1],
 ['Alice', '2025-11-01', 'shift_3', 1],
 ['Alice', '2025-11-01', 'shift_4', 1],
 ['Alice', '2025-11-02', 'shift_0', 0],
 ['Alice', '2025-11-02', 'shift_1', 0],
 ['Alice', '2025-11-02', 'shift_2', 1],
 ['Alice', '2025-11-02', 'shift_3', 0],
 ['Alice', '2025-11-02', 'shift_4', 0],
 ['Alice', '2025-11-03', 'shift_0', 1],
 ['Alice', '2025-11-03', 'shift_1', 1],
 ['Alice', '2025-11-03', 'shift_2', 0],
 ['Alice', '2025-11-03', 'shift_3', 0],
 ['Alice', '2025-11-03', 'shift_4', 0],
 ['Alice', '2025-11-04', 'shift_0', 0],
 ['Alice', '2025-11-04', 'shift_1', 0],
 ['Alice', '2025-11-04', 'shift_2', 1],
 ['Alice', '2025-11-04', 'shift_3', 1],
 ['Alice', '2025-11-04', 'shift_4', 0],
 ['Alice', '2025-11-05', 'shift_0', 0],
 ['Alice', '2025-11-05', 'shift_1', 0],
 ['Alice', '2025-11-05', 'shift_2', 1],
 ['Alice', '2025-11-05', 'shift_3', 0],
 ['Alice', '2025-11-05', 'shift_4', 1],
 ['Alice', '2025-11-06', 'shift_0', 0],
 ['Alice', '2025-11-06', 'shift_1', 1],
 ['Alice', '2025-11-06', 'shift_2', 0],
 ['Alice', '2025-11-06', 'shift_3', 1],
 ['Alice', '2025-11-06', 'shift_4', 1],
 ['Alice', '2025-11-07', 'shift_0', 0],
 ['Alice', '2025-11-07', 'shift_1', 1],
 ['Alice', '2025-11-07', 'shift_2', 0],
 ['Alice', '2025-11-07', 'shift_3', 0],
 ['Alice', '2025-11-07', 'shift_4', 1],
 ['Bob', '2025-11-01', 'shift_0', 0],
 ['Bob', '2025-11-01', 'shift_1', 1],
 ['Bob', '2025-11-01', 'shift_2', 1],
 ['Bob', '2025-11-01', 'shift_3', 1],
 ['Bob', '2025-11-01', 'shift_4', 0],
 ['Bob', '2025-11-02', 'shift_0', 0],
 ['Bob', '2025-11-02', 'shift_1', 0],
 ['Bob', '2025-11-02', 'shift_2', 1],
 ['Bob', '2025-11-02', 'shift_3', 1],
 ['Bob', '2025-11-02', 'shift_4', 1],
 ['Bob', '2025-11-03', 'shift_0', 1],
 ['Bob', '2025-11-03', 'shift_1', 1],
 ['Bob', '2025-11-03', 'shift_2', 0],
 ['Bob', '2025-11-03', 'shift_3', 0],
 ['Bob', '2025-11-03', 'shift_4', 1],
 ['Bob', '2025-11-04', 'shift_0', 1],
 ['Bob', '2025-11-04', 'shift_1', 1],
 ['Bob', '2025-11-04', 'shift_2', 0],
 ['Bob', '2025-11-04', 'shift_3', 1],
 ['Bob', '2025-11-04', 'shift_4', 0],
 ['Bob', '2025-11-05', 'shift_0', 0],
 ['Bob', '2025-11-05', 'shift_1', 0],
 ['Bob', '2025-11-05', 'shift_2', 1],
 ['Bob', '2025-11-05', 'shift_3', 0],
 ['Bob', '2025-11-05', 'shift_4', 0],
 ['Bob', '2025-11-06', 'shift_0', 1],
 ['Bob', '2025-11-06', 'shift_1', 0],
 ['Bob', '2025-11-06', 'shift_2', 0],
 ['Bob', '2025-11-06', 'shift_3', 1],
 ['Bob', '2025-11-06', 'shift_4', 0],
 ['Bob', '2025-11-07', 'shift_0', 1],
 ['Bob', '2025-11-07', 'shift_1', 1],
 ['Bob', '2025-11-07', 'shift_2', 0],
 ['Bob', '2025-11-07', 'shift_3', 0],
 ['Bob', '2025-11-07', 'shift_4', 0],
 ['Carol', '2025-11-01', 'shift_0', 1],
 ['Carol', '2025-11-01', 'shift_1', 1],
 ['Carol', '2025-11-01', 'shift_2', 0],
 ['Carol', '2025-11-01', 'shift_3', 1],
 ['Carol', '2025-11-01', 'shift_4', 0],
 ['Carol', '2025-11-02', 'shift_0', 0],
 ['Carol', '2025-11-02', 'shift_1', 0],
 ['Carol', '2025-11-02', 'shift_2', 1],
 ['Carol', '2025-11-02', 'shift_3', 0],
 ['Carol', '2025-11-02', 'shift_4', 0],
 ['Carol', '2025-11-03', 'shift_0', 1],
 ['Carol', '2025-11-03', 'shift_1', 0],
 ['Carol', '2025-11-03', 'shift_2', 0],
 ['Carol', '2025-11-03', 'shift_3', 0],
 ['Carol', '2025-11-03', 'shift_4', 1],
 ['Carol', '2025-11-04', 'shift_0', 0],
 ['Carol', '2025-11-04', 'shift_1', 1],
 ['Carol', '2025-11-04', 'shift_2', 0],
 ['Carol', '2025-11-04', 'shift_3', 0],
 ['Carol', '2025-11-04', 'shift_4', 0],
 ['Carol', '2025-11-05', 'shift_0', 1],
 ['Carol', '2025-11-05', 'shift_1', 0],
 ['Carol', '2025-11-05', 'shift_2', 1],
 ['Carol', '2025-11-05', 'shift_3', 0],
 ['Carol', '2025-11-05', 'shift_4', 1],
 ['Carol', '2025-11-06', 'shift_0', 1],
 ['Carol', '2025-11-06', 'shift_1', 1],
 ['Carol', '2025-11-06', 'shift_2', 0],
 ['Carol', '2025-11-06', 'shift_3', 1],
 ['Carol', '2025-11-06', 'shift_4', 1],
 ['Carol', '2025-11-07', 'shift_0', 1],
 ['Carol', '2025-11-07', 'shift_1', 0],
 ['Carol', '2025-11-07', 'shift_2', 0],
 ['Carol', '2025-11-07', 'shift_3', 0],
 ['Carol', '2025-11-07', 'shift_4', 1]]

# EE Matrix

In [2]:
df_ee = pd.read_json("ee_mat.json")

In [3]:
df_ee

     e1   e2   e3   e4   e5
e1  0.0  0.6  0.2  0.6  0.7
e2  0.4  0.0  0.4  0.0  0.0
e3  0.0  0.2  0.0  0.2  0.9
e4  0.0  0.8  0.8  0.0  0.3
e5  0.0  0.4  0.6  0.4  0.0

In [5]:
M_LLM_EE = []

for row_name, row in df_ee.iterrows():
    for col_name, value in row.items():
        M_LLM_EE.append([row_name.upper(), col_name.upper(), float(value)])

M_LLM_EE

[['E1', 'E1', 0.0],
 ['E1', 'E2', 0.6000000000000001],
 ['E1', 'E3', 0.2],
 ['E1', 'E4', 0.6000000000000001],
 ['E1', 'E5', 0.7000000000000001],
 ['E2', 'E1', 0.4],
 ['E2', 'E2', 0.0],
 ['E2', 'E3', 0.4],
 ['E2', 'E4', 0.0],
 ['E2', 'E5', 0.0],
 ['E3', 'E1', 0.0],
 ['E3', 'E2', 0.2],
 ['E3', 'E3', 0.0],
 ['E3', 'E4', 0.2],
 ['E3', 'E5', 0.9],
 ['E4', 'E1', 0.0],
 ['E4', 'E2', 0.8],
 ['E4', 'E3', 0.8],
 ['E4', 'E4', 0.0],
 ['E4', 'E5', 0.30000000000000004],
 ['E5', 'E1', 0.0],
 ['E5', 'E2', 0.4],
 ['E5', 'E3', 0.6000000000000001],
 ['E5', 'E4', 0.4],
 ['E5', 'E5', 0.0]]